body,
html {
  margin: 0;
  padding: 0;
}

img {
  width: 30%;
  display: block;
  margin: 100px auto 20px;
  min-width: 272px;
}

input {
  border-radius: 40px;
  width: 585px;
  margin: auto;
  height: 39px;
  border: 0.7px solid #e4e4e4;
  background-color: #fff;
  box-shadow: 0px 1px 4px #e4e4e4;
  margin-bottom: 20px;
  outline: none;
  text-indent: 15px;
}

button {
  box-sizing: border-box;
  margin-top: 0;
  padding: 0 16px;
  font-size: 14px;
  height: 36px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  cursor: pointer;
}

button:first-of-type {
  margin-right: 8px;
  margin-left: calc(50% - 131.5px);
}

button:hover {
  cursor: pointer;
}

p {
  text-align: center;
  margin-top: 40px;
}
a {
}
